@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swa');
@import url('https://fonts.googleapis.com/css?family=Squada+One&display=swap');
.body {
    font-size: 1.2em;
}

.text-title {
    font-family: 'Luckiest Guy', cursive;
    font-size: 8em;
    color: #ffffff;
}

.text-title-xs {
    font-family: 'Luckiest Guy', cursive;
    font-size: 5em;
    color: #ffffff;
}

.text-subtitle {
    font-family: 'Squada One', cursive;
    font-size: 2em;
    color: #ffffff;
}

.text-subtitle-xs {
    font-family: 'Squada One', cursive;
    font-size: 1em;
    color: #ffffff;
}

.bg-title {
    background-image: linear-gradient(to bottom right, #102a56, #407384);
}

.bg-title-xs {
    background-image: linear-gradient(to bottom right, #102a56, #407384);
}

.bg-nav{
    background-image: linear-gradient(to bottom right, #102a56, #407384);
}

.text-imgt{
    z-index: 99;
    position: absolute;
}

.tam{
    width: 100%;
    height: 580px;
    background-color: none;;
}

.tamimg{
    width: 100%;
    height: 566px;
    background-color: none;;
}

.mdi-fac {
    color: #407384;
    font-size: 50px;
}